
.vscode/*

*.log

.DS_Store
.AppleDouble
.LSOverride
.localized

.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
$RECYCLE.BIN/

Thumbs.db
ehthumbs.db

Desktop.ini
